{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block after_related_objects %}
<fieldset class="module ">
  <h2>Nearby Facilities</h2>

  <table style="width: 100%">
    <thead><tr>
        <th class="original"></th>
        <th>ID</th>
        <th>Name</th>
        <th>County</th>
        <th>Distance</th>
        <th>Capacity</th>
        <th>Active Residents</th>
        <th>Sponsors</th>
        <th>Licenses</th>
      </tr></thead>
      <tbody>
        {% for facility in original.nearby_facilities %}
        <tr class="form-row row1  dynamic-sponsorhips" id="sponsorhips-0">
          <td></td>
          <td>{{ facility.id }}</td>
          <td> <a href="{% url 'admin:trainings_facility_change' facility.pk %}" > {{ facility.name }} </a></td>
          <td>{{ facility.address_county }}</td>
          <td>{% if facility.distance is not None %}{{ facility.distance_mi }} mi{% endif %}</td>
          <td>{{ facility.capacity }}</td>
          <td>{{ facility.active_residents}}</td>
          <td>{{facility.sponsor_count}}</td>
          <td>
            {% for license in facility.licenses %}{% if not forloop.first %}, {% endif %}{{ license.abbreviation }}{% endfor %}
          </td>
        </tr>
        {% endfor %}
  </table>
</fieldset>
{% endblock %}
