 {% load static %}
 <script src="{% static 'assets_backend/js/vendors/jquery/jquery.min.js' %}"></script>
    <!-- bootstrap js-->
    <script src="{% static 'assets_backend/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}" defer=""></script>
    <script src="{% static 'assets_backend/js/vendors/bootstrap/dist/js/popper.min.js' %}" defer=""></script>
    <!--fontawesome-->
    <script src="{% static 'assets_backend/js/vendors/font-awesome/fontawesome-min.js' %}"></script>
    <!-- feather-->
    <script src="{% static 'assets_backend/js/vendors/feather-icon/feather.min.js' %}"></script>
    <script src="{% static 'assets_backend/js/vendors/feather-icon/custom-script.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'assets_backend/js/sidebar.js' %}"></script>
    <!-- height_equal-->
    <script src="{% static 'assets_backend/js/height-equal.js' %}"></script>
    <!-- config-->
    <script src="{% static 'assets_backend/js/config.js' %}"></script>
    <!-- apex-->
    <script src="{% static 'assets_backend/js/chart/apex-chart/apex-chart.js' %}"></script>
    <script src="{% static 'assets_backend/js/chart/apex-chart/stock-prices.js' %}"></script>
    <!-- scrollbar-->
    <script src="{% static 'assets_backend/js/scrollbar/simplebar.js' %}"></script>
    <script src="{% static 'assets_backend/js/scrollbar/custom.js' %}"></script>
    <!-- slick-->
    <script src="{% static 'assets_backend/js/slick/slick.min.js' %}"></script>
    <script src="{% static 'assets_backend/js/slick/slick.js' %}"></script>
    <!-- data_table-->
    <script src="{% static 'assets_backend/js/js-datatables/datatables/jquery.dataTables.min.js' %}"></script>
    <!-- page_datatable-->
    <script src="{% static 'assets_backend/js/js-datatables/datatables/datatable.custom.js' %}"></script>
    <!-- page_datatable1-->
    <script src="{% static 'assets_backend/js/js-datatables/datatables/datatable.custom1.js' %}"></script>
    <!-- page_datatable-->
    <script src="{% static 'assets_backend/js/datatable/datatables/datatable.custom.js' %}"></script>
    <!-- theme_customizer-->
    <script src="{% static 'assets_backend/js/theme-customizer/customizer.js' %}"></script>
    <!-- tilt-->
    <script src="{% static 'assets_backend/js/animation/tilt/tilt.jquery.js'%}"></script>
    <!-- page_tilt--
    <script src="../assets/js/animation/tilt/tilt-custom.js"></script>
    <!-- dashboard_1-->
    <script src="{% static 'assets_backend/js/dashboard/dashboard_1.js' %}"></script>
    <script src="{% static 'assets_backend/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
    <!-- page_datatable-->
    <script src="{% static 'assets_backend/js/js-datatables/datatables/datatable.custom.js' %}"></script>
    <!-- page_datatable-->
    <script src="{% static 'assets_backend/js/datatable/datatables/datatable.custom.js' %}"></script>
    <!-- theme_customizer-->
    <script src="{% static 'assets_backend/js/theme-customizer/customizer.js' %}"></script>
    <!-- custom script -->
    <script src="{% static 'assets_backend/js/script.js' %}"></script>